* {
    background-color:beige;
    box-sizing: border-box;
 } 

 h1 {
    text-align: center;
 }
 
 .row {
    width:100%;
}

section {
    position:relative;
    background-color: yellow;
    height:fit-content;
    margin:10px;
    padding: 60px 10px 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow:hidden
}

p.title {
    font:bold;
    background-color: chocolate;
    color:black;
    position: absolute;
    top:-17px;
    right: 0;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

@media (min-width:992px) {
    .sum {
        float:left;
        border:1px solid black;
        width:31%
    }
}

@media (min-width:768px) and (max-width:991px) {
    .add,.mul {
    float:left;
    border:1px solid black;
    }
    .add {
        width:47%;
    }
    .mul {
        width:97%;
    }
}

@media (max-width:767px) {
    .sum {
        border:1px solid black;
        width:97%
    }
}